@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Hanuman;
}

header {
  background: linear-gradient(to right, #f28c2d, #ffff00, #f28c2d);
}

.nav-link {
  transition: 0.5s;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
  color: #f28c2c;
  transition: 0.5s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    background-image: url(../img/BTB-Statue-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
}
.overlay .z-3 {
    top: 20%;
    left: 3%;
}
.card-img {
    height: 220px;
}
